*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #ed8d6d;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
    font-weight: bolder;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background-color: #ed8d6d;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
}
.head h1{
    margin-top: 40px;
    font-size: 100px;
    color: #ed8d6d;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: geneva;
    font-style: italic;
}
.head h1::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#ed8d6d,#ed8d6d, #fff);
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -1;
    transform: rotate(-10deg);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 10px;
}
#intro{
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(247, 232, 232, 0.1), #ed8d6d);
}
.intro-text{
    padding: 8%;
    text-align: justify;
}
.intro-text p{
    font-size: 25px;
    font-family: Georgia;
    line-height: 40px;
}
#body{
    width: 100%;
    height: 90%;
    background: #ed8d6d;
}
.body-text{
    padding: 8%;
    text-align: justify;
}
.body-text p{
    font-size: 25px;
    font-family: Georgia;
    line-height: 40px;
}
#conclusion{
    width: 100%;
    height: 90%;
    background: #ed8d6d;
}
.conclu-text{
    padding: 8%;
    text-align: justify;
}
.conclu-text p{
    font-size: 25px;
    font-family: Georgia;
    line-height: 40px;
}